

.Automatisation .monPara{
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
.Automatisation .etpe {
  height: 40px;
  width: 150px;
  border: 1px solid #6870e0;
  border-radius: 20px;
  background-color: #6870e0;
  color: white;
  cursor: pointer;
}
.Automatisation .etpe1 {
  height: 40px;
  width: 150px;
  border: 1px solid #6870e0;
  border-radius: 20px;
  background-color: #262935;
  color: #6870e0;
  cursor: pointer;
} 

.Automatisation .etpe1:hover {
  background-color: #6870e0;
  color: white;
}



/* DEUXIEME PARTIE */
.Automatisation .separe {
  display: flex;
  justify-content: space-between;
}
.Automatisation .carre {
  height: 600px;
  width: 600px;
  /* border: 1px solid red; */
}
.Automatisation .carre img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.Automatisation .tire {
  text-align: center;
}
.Automatisation .loi {
  display: flex;
  justify-content: center;
}
.Automatisation .par {
  height: 150px;
  width: 500px;
}

/* TROISIEME PARTIE */
.Automatisation .send {
  height: 63vh;
  width: 100%;
  border: 1px solid #6870e0;
  background-color: #6870e0;
  margin-top: 10px;
}
.Automatisation .premiText {
  margin-top: 20%;
}

.Automatisation .misApart h1 {
  color: white;
}

.Automatisation .paragraphe p {
  color: white;
  align-items: center;
}

.Automatisation .etoile {
  display: flex;
}

.Automatisation .etoile p {
  color: white;
}
.Automatisation .flax {
  display: flex;
  justify-content: space-evenly;
}

.Automatisation .cool {
  display: flex;
  gap: 30px;
}
.Automatisation .caro {
  height: 200px;
  width: 300px;
  border: 1px solid white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: white;
}
.Automatisation .caro .second p{
  margin: 0;
}
.Automatisation .second {
  margin-top: 5px;
  height: 140px;
  width: 270px;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.Automatisation .forImg {
  display: flex;
  justify-content: space-evenly;
}
.Automatisation .loop{
  display: flex;
}

.Automatisation .cors{
  display: flex;
}
.Automatisation .photo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.Automatisation .ico {
  font-size: 25px;
  color: #6870e0;
}

.Automatisation .bout {
  height: 45px;
  width: 100%;
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}
.Automatisation .search {
  display: flex;
  align-items: center;
}

.Automatisation .fin {
  display: flex;
  gap: 15px;
}
.Automatisation .recher {
  height: 30px;
  width: 190px;
  border: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.Automatisation .recher input {
  height: 30px;
  border: none;
  border-radius: 20px;
}

.Automatisation .ic {
  color: #6870e0;
}

 @media screen and (max-width: 1311px) {
  .Automatisation .espace{
    flex-wrap: wrap;
  }

  .Automatisation .colore{
    height: auto;
  }

  .Automatisation .separe{
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .Automatisation .send{
    height: auto;
  }
}

@media screen and (max-width: 946px) {
  .scroll-container {
    width: 100%; /* Définissez la largeur du conteneur horizontal selon vos besoins */
    overflow-x: auto; /* Activez la barre de défilement horizontale lorsque le contenu dépasse la largeur du conteneur */
    white-space: nowrap; /* Empêche le contenu à l'intérieur du conteneur de passer à la ligne */
}
.steps .list .item {
  display: inline-block;
  width: 200px; /* Définissez la largeur des éléments selon vos besoins */
  vertical-align: top;
}
}

@media screen and (max-width: 1559px) {
  .Automatisation .send{
    height: auto;
  }
}
@media screen and (max-width: 1675px) {
  .Automatisation .send{
    height: auto;
  }
}
@media screen and (min-width: 1675px) {
  .Automatisation .send{
    height: auto;
  }
}
@media screen and (max-width: 1032px) {
  .Automatisation .flax{
    flex-direction: column;
    text-align: center;
  }
  © .premiText{
    margin-top: 0;

}
  .Automatisation .cool{
    justify-content: center;
  }
}

@media screen and (max-width: 654px ) {
  .Automatisation .cool{
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 645px) {
  .Automatisation .carre {
    align-items: center;
    height: 400px;
    width: 400px;
  }
}
/*@media screen and (max-width: 630px) {
  .Automatisation .colore{
    height: 130vh;
  }
}
@media screen and (max-width: 998px) {
  .Automatisation .list{
    flex-wrap: wrap;
    z-index: auto;
  }
}

@media screen and (max-width: 1366px) {
  .Automatisation .send{
    height: 110vh;
  }
} */